{
  "parser": "babel-eslint",
  "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
      }
  },

  "globals": {
  },
  "env": {
    "node": true
  },

  "rules": {
  }
}
