canvas.microcanvas {
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
