/* Painter */
body.pixel-editor {
  overflow: hidden;
}
body.pixel-editor #codeplugin {
  width: 100%;
  height: calc( 100% - 28px );
  position: fixed;
  z-index: 1000;
  top: 28px;
  left: 0;
  border: none;
  background: transparent linear-gradient(rgba(0, 0, 0, 0.75), rgb(0, 0, 0)) repeat scroll 0% 0%;
}

.CodeMirror-widget .sprite:before {
  display: none;
}
.CodeMirror-widget .sprite canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: crisp-edges;

  border: .25em solid transparent;
  background-color: transparent;

  margin: -.15em .25em -.15em .25em;
  padding: .1em;
  border: 1px solid black;
  border-radius: 0.25em;
  vertical-align: middle;
  box-shadow: 0 0 .5em #555;
  height: .66em;
  transition: height .2s ease;
}

/* Color based on theme */
.CodeMirror.cm-s-neat .CodeMirror-widget .sprite canvas {
  background-color: rgb(250, 240, 230); /* TODO: css vars? */
  border-color: rgb(250, 240, 230);
  color: black;
}
.CodeMirror.cm-s-night .CodeMirror-widget .sprite canvas {
  background-color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
  color: white;
}


.CodeMirror-widget .sprite.active canvas {
	border: 1px solid rgba(0,150,200,1);
	box-shadow: 0 0 .5em rgba(0,150,200,.9);
}

/* Being edited */
.CodeMirror.cm-s-neat .CodeMirror-line .open-marker {
	background: rgba(255,255,0,.2);
	border-color: #EEE;
}
.CodeMirror.cm-s-night .CodeMirror-line .open-marker {
  background-color: rgba(0,0,0,.5);
  padding: .1em 0 .1em;
  font-style: italic;
  border-bottom: .2em solid #222;
}

/* Being painted at */
.CodeMirror-code .sprite.editing:before {
  display: block;
}
.CodeMirror-code .sprite.editing {
  position: fixed;
  top: -24px;
  right: 4px;
  padding: 0; margin: 0;
  font-size: 4em;
  text-shadow: 1px 0 1px white, -1px 0 1px white;
}
.CodeMirror-code .sprite.editing canvas {
  display: none;
}
