html, body {
  height: 100%;
}

body {
  background: #080010;
  color: white;

  padding: 0;
  margin: 0;
}

.CodeMirror {
  height: 100%;
}

.cm-s-night .CodeMirror-gutters {
  background: #00000a;
  border-right: 1px solid #100040;
}
.cm-s-night .CodeMirror-linenumber {
    color: #669;
}

/* Sprite placeholder */
.CodeMirror-code .sprite {
  padding: 0 0.2em;
  cursor: pointer;
}
.CodeMirror-code .sprite:before {
  content: "👾";
}

.servermsgs {
  background: #112 none repeat scroll 0% 0%;
  font-family: monospace;
  line-height: 1.5;
  font-size: 8pt;
  margin: 0.5em;
  padding: 0.5em 0.75em;
  white-space: pre;
  overflow: auto;
}
.servermsgs.error {
  color: #f22;
}
