html, body {
  height: 100%;
}

body {
  background: #080010;
  color: white;

  padding: 0;
  margin: 0;
}

.CodeMirror {
  height: 100%;
}

.cm-s-night .CodeMirror-gutters {
  background: #00000a;
  border-right: 1px solid #100040;
}
.cm-s-night .CodeMirror-linenumber {
    color: #669;
}

/* Toolbar */
.toolbar button {
  margin: .2em;
  width: 3em;
  height: 2em;
  border: .1em solid #222;
  border-radius: .5em;
  background: #222 linear-gradient(to bottom, rgba(100,0,176,0), rgba(100,0,176,1));
  transition: color .4s ease;
  box-shadow: 0 0 6px rgba(150,0,255,.5) inset;
  cursor: pointer;
  color: white; font-weight: bold;
}

.toolbar button:hover {
  background-color: yellow;
}


/* Sprite placeholder */
.CodeMirror-code .sprite,
.CodeMirror-code .tune {
  position: relative;
  padding: 0 0.2em;
  margin: 0 0.2em;
  cursor: pointer;
}
.CodeMirror-code .sprite:before {
  content: "👾";
}
.CodeMirror-code .tune:before {
  content: "🔊";
}

/* Playback animation */
.tune.play {
  border: 1px solid white;
  border-radius: 10%;
}

.tune.play>.bg {
  background: purple;
  position: absolute;
  top: 0; left: 0;
  bottom: 0; right: 100%;
  z-index: -1;
  transition: 2s all linear;
}

.tune.play>.bg.playing {
  background: #e7e;
  right: 0;
}


.servermsgs {
  background: #112 none repeat scroll 0% 0%;
  font-family: monospace;
  line-height: 1.5;
  font-size: 8pt;
  margin: 0.5em;
  padding: 0.5em 0.75em;
  white-space: pre;
  overflow: auto;
}
.servermsgs.error {
  color: #f22;
}

.build-error {
  background: #A00;
  display: inline-block;
  padding: .25em .5em 0.1em;
  color: white;
  font-style: italic;
  font-family: sans-serif;
  font-size: 10pt;
  border-radius: .5em;
  margin: 0 1em 1em;
  border: 1px solid #000;
}

/* Painter */
body.pixel-editor {
  overflow: hidden;
}
iframe {
  width: 80vmin;
  height: 80vmin;
  position: fixed;
  z-index: 1000;
  top: calc((100vh - 80vmin) / 2);
  left: calc((100vw - 80vmin) / 2);
  border: none;
  box-shadow: 0 0 5px 1px black;
}

.CodeMirror-widget .sprite:before {
  display: none;
}
.CodeMirror-widget .sprite canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: crisp-edges;

  margin: -.15em .25em -.15em .25em;
  border: .25em solid black;
  background: black;
  padding: .1em;
  border-radius: 0.25em;
  vertical-align: middle;
  box-shadow: 0 0 .5em #555;
  height: .66em;
  transition: height 0s linear;
}

.CodeMirror-line:hover {
  z-index: 10;
}
.CodeMirror-widget .sprite canvas:hover {
  position: absolute;
  z-index: 10;
  height: 12em;
  transition: height .2s ease;
}

/* Being edited */
.CodeMirror-line .open-marker {
  background-color: rgba(0,0,0,.5);
  padding: .1em 0 .1em;
  font-style: italic;
  border-bottom: .2em solid #222;
}

/* Being painted at */
.CodeMirror-code .sprite.editing:before {
  display: block;
}
.CodeMirror-code .sprite.editing {
  position: fixed;
  top: 12px;
  right: 4px;
  padding: 0; margin: 0;
  font-size: 4em;
  text-shadow: 1px 0 1px white, -1px 0 1px white;
}
.CodeMirror-code .sprite.editing canvas {
  display: none;
}
